
.stltab_header {
    border: 1px solid #ccc;
    padding: 0px;
    background: #F6F6F6;
    margin-bottom: 30px;
    padding-bottom: 50px;
}
.stltab_title {
        border-bottom: 1px solid #054971;
    padding-bottom: 9px;
    padding-top: 10px;
    margin-bottom: 15px;
    background: #054971;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding-left:15px;
}
.text_right {
    text-align: right;
}


.btn-outline-info {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

 .btn-black   {    color: #000;
    background: #fff;}
.btn-black:hover{    background: #000;
    color: #fff;}

.dataTables_length,.dataTables_info{display: inline-block;      margin-bottom: 10px;  margin-top: 10px;}
.dataTables_filter,.dataTables_paginate{display: inline-block;float: right;     margin-bottom: 10px;   margin-top: 10px;}
.paginate_button{padding:5px 10px; border:1px solid #ccc; margin-right: 10px;    background: white;
    color: #000;}
    .dataTables_wrapper label{font-weight: normal;}

.steps_div .form-control,.steps_div .btn_addqty{margin-top:15px;}
.btn_remove {    ffont-size: 12px;
    padding: 0px 4px;}

.steps_title{     margin-top: 10px;
    margin-bottom: 23px;
    font-size: 18px;
    color: #000;

    border-bottom: 3px dotted #ccc;
    border-left: 6px solid #126380;
    background-color: lightgrey;
    padding: 10px;}
.category_title{border-bottom: 2px dotted #ccc;
    padding-bottom: 9px;}
 .steps_div    hr{    border-top: 1px solid #184971;}
.btn_removeitemdiv{width: auto;margin-top:15px;padding-right:0px;}

.form-control.category_list{    width: auto;
    display: inline-block;
    margin-top: 0px;}
